<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/layout_form}"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<head>

    <title>Topics</title>

</head>

<h1 class="h4 text-gray-900 mb-4" layout:fragment="title">Create a Topic!</h1>

<form class="user" th:action="@{/topic}" th:object="${topic}" method="POST"  layout:fragment="content">
    <div class="form-group">
        <div class="form-group">
            <input type="text" class="form-control form-control-user"
                   placeholder="Title" th:field="*{title}">
            <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"
                  class="alert alert-danger" style="margin-top: 20px"></span>
        </div>
        <button type="submit" class="btn btn-primary btn-user btn-block">Create</button>
    </div>
</form>