<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/layout_form}"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<head>

    <title>Articles</title>

</head>
<h1 class="h4 text-gray-900 mb-4" layout:fragment="title">Update an Article!</h1>
<form class="user" th:action="@{/update/article}"
      th:object="${article}" method="POST" layout:fragment="content">
    <div class="form-group">
        <input type="hidden" th:field="*{id}"/>
        <div class="form-group">
            <input type="text" class="form-control "
                   placeholder="Title" th:field="*{title}">
            <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"
                  class="alert alert-danger"></span>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <div class="input-group input-group-md">
										<span class="input-group-addon">
											<span class="glyphicon glyphicon-calendar"></span>
										</span>
                    <input type="date" placeholder="Date"
                           class="form-control" th:field="*{date}" required="true"/>
                    <span th:if="${#fields.hasErrors('date')}" th:errors="*{date}"
                          class="alert alert-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="text" style="height: 200px" class="form-control"
                   aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg"
                   placeholder="Text" th:field="*{text}">
            <span th:if="${#fields.hasErrors('text')}" th:errors="*{text}"
                  class="alert alert-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary btn-user btn-block">Update</button>
    </div>
</form>