<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/layout_form}"
      xmlns:layout="http://www.w3.org/1999/xhtml">

<head>

    <title>Register</title>
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    <link href="/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<h1 class="h4 text-gray-900 mb-4" layout:fragment="title">Create an Account!</h1>
<form id="register-form" class="user" th:action="@{/register}" th:object="${user}" th:modelAttribute="${user}"
      method="POST" layout:fragment="content">
    <div class="form-group">
        <div class="form-group">
            <input type="text" class="form-control form-control-user" id="exampleFirstName"
                   placeholder="First Name" th:field="*{name}">
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                  class="form-control form-control-user alert alert-danger" style="margin-top: 25px"></span>
        </div>
        <div class="form-group">
            <input type="text" class="form-control form-control-user" id="exampleLastName"
                   placeholder="Last Name" th:field="*{surname}">
            <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"
                  class="form-control form-control-user alert alert-danger" style="margin-top: 25px"></span>
        </div>
        <div class="form-group">
            <input type="text" class="form-control form-control-user" id="exampleLastName"
                   placeholder="Patronymic" th:field="*{patronymic}">
            <span th:if="${#fields.hasErrors('patronymic')}" th:errors="*{patronymic}"
                  class="form-control form-control-user alert alert-danger" style="margin-top: 25px"></span>
        </div>
    </div>
    <div class="form-group">
        <input type="email" class="form-control form-control-user" id="exampleInputEmail"
               placeholder="Email Address" th:field="*{email}">
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
              class="form-control form-control-user alert alert-danger" style="margin-top: 25px"></span>
    </div>
    <div class="form-group">
        <input type="password" class="form-control form-control-user"
               id="exampleInputPassword" placeholder="Password" th:field="*{password}">
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
              class="form-control form-control-user alert alert-danger" style="margin-top: 25px"></span>
    </div>
    <button type="submit"
            class="btn btn-primary btn-user btn-block">
        Register
    </button>
</form>
<hr>
<div class="text-center" layout:fragment="add_info">
    <a class="small" th:href="@{/login}">Already have an account? Login!</a>
</div>

